*{
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    outline: 0;
}
body{
    background-color: whitesmoke;
    color:black;
}
#Admin-box{
    background-color: darkgrey;
    width: 50%;
    text-align: center;
    margin: 100px auto 0px;
    padding: 20px;
    border-radius: 15px;
}
form{
    margin: 20px 0px;
}
div h1 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input, label{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
}
label{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"] {
width: 50%;
margin-top: 20px;
background-color: whitesmoke;
font-size: 17px;
transition: .5s;
}
p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p a {
    color: tomato;
    text-decoration: none;
    text-transform: capitalize;
}
input[type="submit"]:hover{
    background-color: red;
    border-radius: 5px;
}
.input{
    background-color: whitesmoke;
}